html{}
body{
	background-color:#dfbf9f;
	background-repeat: no-repeat;
	background-size: cover;
}

h1{
	font-family: "Overpass",sans-serif;
    font-size: 50pt;
    font-style: italic;
    color: white;
    margin: auto;
    width: 50%;
    text-align: center;
}
p{
	font-family: "Timmana", sans-serif;
    font-size: 20pt;
    color: #da4f08;
    width: 20%;
    padding-left: 22em;
    padding-top: 7em;
    text-align: center;
}
h2{
	font-family:"Overpass",sans-serif;
	font-size: 20pt;
	color:white;
	margin: auto;
	width:50%;
	text-align:center;
	margin-bottom: 20pt;
}
h3{
	font-family:"Overpass",sans-serif;
	font-size: 15pt;
	color:white;
	margin: auto;
	width:50%;
	text-align:center;
	margin-bottom: 10px;
}
img{
	width: 50%;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
a{
	color:white;
}
a:hover{
	color: #4d4d4d;
}
div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}
#demo{
	padding-top:0em;
	color:white;

}